/****** Object:  Table [dbo].[pb_account_statuses]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_account_statuses](
	[AccountStatusId] [int] NOT NULL,
	[StatusName] [nvarchar](64) NOT NULL,
	[StatusDesc] [nvarchar](500) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_pb_account_statuses] PRIMARY KEY CLUSTERED 
(
	[AccountStatusId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pb_account_statuses_StatusName] UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_accounts]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_accounts](
	[AccountId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[DisplayName] [nvarchar](255) NULL,
	[AccountStatusId] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pb_accounts_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_custom_fields]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_custom_fields](
	[CustomFieldId] [uniqueidentifier] NOT NULL,
	[SystemId] [uniqueidentifier] NOT NULL,
	[FieldName] [nvarchar](510) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FieldTypeCode] [int] NULL,
	[DisplayOrderText] [nvarchar](128) NULL,
	[SupportsMarkdown] [bit] NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_custom_fields] PRIMARY KEY CLUSTERED 
(
	[CustomFieldId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_front_history]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_front_history](
	[FrontHistoryId] [uniqueidentifier] NOT NULL,
	[SystemId] [uniqueidentifier] NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[StartTimeMs] [bigint] NOT NULL,
	[EndTimeMs] [bigint] NULL,
	[IsLive] [bit] NULL,
	[IsCustom] [bit] NULL,
	[CustomStatus] [nvarchar](510) NULL,
	[LastOperationTimeMs] [bigint] NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_front_history] PRIMARY KEY CLUSTERED 
(
	[FrontHistoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_members]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_members](
	[MemberId] [uniqueidentifier] NOT NULL,
	[SystemId] [uniqueidentifier] NOT NULL,
	[DisplayName] [nvarchar](510) NOT NULL,
	[Pronouns] [nvarchar](510) NULL,
	[Description] [nvarchar](max) NULL,
	[Color] [nvarchar](64) NULL,
	[IsArchived] [bit] NULL,
	[ArchivedReason] [nvarchar](max) NULL,
	[IsPrivate] [bit] NULL,
	[PreventTrusted] [bit] NULL,
	[PreventsFrontNotifications] [bit] NULL,
	[ReceiveMessageBoardNotifications] [bit] NULL,
	[SupportsDescriptionMarkdown] [bit] NULL,
	[LastOperationTimeMs] [bigint] NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_members] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_privacy_buckets]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_privacy_buckets](
	[PrivacyBucketId] [uniqueidentifier] NOT NULL,
	[SystemId] [uniqueidentifier] NOT NULL,
	[BucketName] [nvarchar](510) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Color] [nvarchar](64) NULL,
	[Icon] [nvarchar](510) NULL,
	[RankText] [nvarchar](128) NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_privacy_buckets] PRIMARY KEY CLUSTERED 
(
	[PrivacyBucketId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_roles]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_roles](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](64) NOT NULL,
	[RoleDesc] [nvarchar](500) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_pb_roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pb_roles_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_system_membership_roles]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_system_membership_roles](
	[SystemMembershipId] [uniqueidentifier] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_pb_system_membership_roles] PRIMARY KEY CLUSTERED 
(
	[SystemMembershipId] ASC,
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_system_membership_statuses]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_system_membership_statuses](
	[MembershipStatusId] [int] NOT NULL,
	[StatusName] [nvarchar](64) NOT NULL,
	[StatusDesc] [nvarchar](500) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_pb_system_membership_statuses] PRIMARY KEY CLUSTERED 
(
	[MembershipStatusId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pb_system_membership_statuses_StatusName] UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_system_memberships]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_system_memberships](
	[SystemMembershipId] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[SystemId] [uniqueidentifier] NOT NULL,
	[MembershipStatusId] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_system_memberships] PRIMARY KEY CLUSTERED 
(
	[SystemMembershipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_systems]    Script Date: 6/18/2026 6:38:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_systems](
	[SystemId] [uniqueidentifier] NOT NULL,
	[SystemName] [nvarchar](510) NULL,
	[Description] [nvarchar](max) NULL,
	[Color] [nvarchar](64) NULL,
	[AvatarUrl] [nvarchar](2000) NULL,
	[AvatarUuid] [nvarchar](128) NULL,
	[SourceCreatedAtMs] [bigint] NULL,
	[LastOperationTimeMs] [bigint] NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_systems] PRIMARY KEY CLUSTERED 
(
	[SystemId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[pb_account_statuses] ADD  CONSTRAINT [DF_pb_account_statuses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[pb_accounts] ADD  CONSTRAINT [DF_pb_accounts_AccountId]  DEFAULT (newsequentialid()) FOR [AccountId]
GO
ALTER TABLE [dbo].[pb_accounts] ADD  CONSTRAINT [DF_pb_accounts_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_custom_fields] ADD  CONSTRAINT [DF_pb_custom_fields_CustomFieldId]  DEFAULT (newsequentialid()) FOR [CustomFieldId]
GO
ALTER TABLE [dbo].[pb_custom_fields] ADD  CONSTRAINT [DF_pb_custom_fields_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_custom_fields] ADD  CONSTRAINT [DF_pb_custom_fields_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_front_history] ADD  CONSTRAINT [DF_pb_front_history_FrontHistoryId]  DEFAULT (newsequentialid()) FOR [FrontHistoryId]
GO
ALTER TABLE [dbo].[pb_front_history] ADD  CONSTRAINT [DF_pb_front_history_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_front_history] ADD  CONSTRAINT [DF_pb_front_history_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_members] ADD  CONSTRAINT [DF_pb_members_MemberId]  DEFAULT (newsequentialid()) FOR [MemberId]
GO
ALTER TABLE [dbo].[pb_members] ADD  CONSTRAINT [DF_pb_members_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_members] ADD  CONSTRAINT [DF_pb_members_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_privacy_buckets] ADD  CONSTRAINT [DF_pb_privacy_buckets_PrivacyBucketId]  DEFAULT (newsequentialid()) FOR [PrivacyBucketId]
GO
ALTER TABLE [dbo].[pb_privacy_buckets] ADD  CONSTRAINT [DF_pb_privacy_buckets_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_privacy_buckets] ADD  CONSTRAINT [DF_pb_privacy_buckets_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_roles] ADD  CONSTRAINT [DF_pb_roles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[pb_system_membership_roles] ADD  CONSTRAINT [DF_pb_system_membership_roles_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_system_membership_statuses] ADD  CONSTRAINT [DF_pb_system_membership_statuses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[pb_system_memberships] ADD  CONSTRAINT [DF_pb_system_memberships_SystemMembershipId]  DEFAULT (newsequentialid()) FOR [SystemMembershipId]
GO
ALTER TABLE [dbo].[pb_system_memberships] ADD  CONSTRAINT [DF_pb_system_memberships_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_systems] ADD  CONSTRAINT [DF_pb_systems_SystemId]  DEFAULT (newsequentialid()) FOR [SystemId]
GO
ALTER TABLE [dbo].[pb_systems] ADD  CONSTRAINT [DF_pb_systems_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_systems] ADD  CONSTRAINT [DF_pb_systems_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_accounts]  WITH CHECK ADD  CONSTRAINT [FK_pb_accounts_pb_account_statuses] FOREIGN KEY([AccountStatusId])
REFERENCES [dbo].[pb_account_statuses] ([AccountStatusId])
GO
ALTER TABLE [dbo].[pb_accounts] CHECK CONSTRAINT [FK_pb_accounts_pb_account_statuses]
GO
ALTER TABLE [dbo].[pb_custom_fields]  WITH CHECK ADD  CONSTRAINT [FK_pb_custom_fields_pb_systems] FOREIGN KEY([SystemId])
REFERENCES [dbo].[pb_systems] ([SystemId])
GO
ALTER TABLE [dbo].[pb_custom_fields] CHECK CONSTRAINT [FK_pb_custom_fields_pb_systems]
GO
ALTER TABLE [dbo].[pb_front_history]  WITH CHECK ADD  CONSTRAINT [FK_pb_front_history_pb_members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[pb_members] ([MemberId])
GO
ALTER TABLE [dbo].[pb_front_history] CHECK CONSTRAINT [FK_pb_front_history_pb_members]
GO
ALTER TABLE [dbo].[pb_front_history]  WITH CHECK ADD  CONSTRAINT [FK_pb_front_history_pb_systems] FOREIGN KEY([SystemId])
REFERENCES [dbo].[pb_systems] ([SystemId])
GO
ALTER TABLE [dbo].[pb_front_history] CHECK CONSTRAINT [FK_pb_front_history_pb_systems]
GO
ALTER TABLE [dbo].[pb_members]  WITH CHECK ADD  CONSTRAINT [FK_pb_members_pb_systems] FOREIGN KEY([SystemId])
REFERENCES [dbo].[pb_systems] ([SystemId])
GO
ALTER TABLE [dbo].[pb_members] CHECK CONSTRAINT [FK_pb_members_pb_systems]
GO
ALTER TABLE [dbo].[pb_privacy_buckets]  WITH CHECK ADD  CONSTRAINT [FK_pb_privacy_buckets_pb_systems] FOREIGN KEY([SystemId])
REFERENCES [dbo].[pb_systems] ([SystemId])
GO
ALTER TABLE [dbo].[pb_privacy_buckets] CHECK CONSTRAINT [FK_pb_privacy_buckets_pb_systems]
GO
ALTER TABLE [dbo].[pb_system_membership_roles]  WITH CHECK ADD  CONSTRAINT [FK_pb_system_membership_roles_pb_roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[pb_roles] ([RoleId])
GO
ALTER TABLE [dbo].[pb_system_membership_roles] CHECK CONSTRAINT [FK_pb_system_membership_roles_pb_roles]
GO
ALTER TABLE [dbo].[pb_system_membership_roles]  WITH CHECK ADD  CONSTRAINT [FK_pb_system_membership_roles_pb_system_memberships] FOREIGN KEY([SystemMembershipId])
REFERENCES [dbo].[pb_system_memberships] ([SystemMembershipId])
GO
ALTER TABLE [dbo].[pb_system_membership_roles] CHECK CONSTRAINT [FK_pb_system_membership_roles_pb_system_memberships]
GO
ALTER TABLE [dbo].[pb_system_memberships]  WITH CHECK ADD  CONSTRAINT [FK_pb_system_memberships_pb_accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[pb_accounts] ([AccountId])
GO
ALTER TABLE [dbo].[pb_system_memberships] CHECK CONSTRAINT [FK_pb_system_memberships_pb_accounts]
GO
ALTER TABLE [dbo].[pb_system_memberships]  WITH CHECK ADD  CONSTRAINT [FK_pb_system_memberships_pb_system_membership_statuses] FOREIGN KEY([MembershipStatusId])
REFERENCES [dbo].[pb_system_membership_statuses] ([MembershipStatusId])
GO
ALTER TABLE [dbo].[pb_system_memberships] CHECK CONSTRAINT [FK_pb_system_memberships_pb_system_membership_statuses]
GO
ALTER TABLE [dbo].[pb_system_memberships]  WITH CHECK ADD  CONSTRAINT [FK_pb_system_memberships_pb_systems] FOREIGN KEY([SystemId])
REFERENCES [dbo].[pb_systems] ([SystemId])
GO
ALTER TABLE [dbo].[pb_system_memberships] CHECK CONSTRAINT [FK_pb_system_memberships_pb_systems]
GO
ALTER TABLE [dbo].[pb_account_statuses]  WITH CHECK ADD  CONSTRAINT [CK_pb_account_statuses_DisplayOrder_Positive] CHECK  (([DisplayOrder]>(0)))
GO
ALTER TABLE [dbo].[pb_account_statuses] CHECK CONSTRAINT [CK_pb_account_statuses_DisplayOrder_Positive]
GO
ALTER TABLE [dbo].[pb_accounts]  WITH CHECK ADD  CONSTRAINT [CK_pb_accounts_Email_NotBlank] CHECK  ((len(ltrim(rtrim([Email])))>(0)))
GO
ALTER TABLE [dbo].[pb_accounts] CHECK CONSTRAINT [CK_pb_accounts_Email_NotBlank]
GO
ALTER TABLE [dbo].[pb_roles]  WITH CHECK ADD  CONSTRAINT [CK_pb_roles_DisplayOrder_Positive] CHECK  (([DisplayOrder]>(0)))
GO
ALTER TABLE [dbo].[pb_roles] CHECK CONSTRAINT [CK_pb_roles_DisplayOrder_Positive]
GO
ALTER TABLE [dbo].[pb_system_membership_statuses]  WITH CHECK ADD  CONSTRAINT [CK_pb_system_membership_statuses_DisplayOrder_Positive] CHECK  (([DisplayOrder]>(0)))
GO
ALTER TABLE [dbo].[pb_system_membership_statuses] CHECK CONSTRAINT [CK_pb_system_membership_statuses_DisplayOrder_Positive]
GO
