/****** Object:  Database [PluralBridgeCloudSafeSpine]    Script Date: 6/18/2026 3:33:36 PM ******/
CREATE DATABASE [PluralBridgeCloudSafeSpine]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[pb_custom_fields]    Script Date: 6/18/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_custom_fields](
	[CustomFieldId] [uniqueidentifier] NOT NULL,
	[SystemId] [uniqueidentifier] NOT NULL,
	[FieldName] [nvarchar](510) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FieldTypeCode] [int] NULL,
	[DisplayOrderText] [nvarchar](128) NULL,
	[SupportsMarkdown] [bit] NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_custom_fields] PRIMARY KEY CLUSTERED 
(
	[CustomFieldId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_front_history]    Script Date: 6/18/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_front_history](
	[FrontHistoryId] [uniqueidentifier] NOT NULL,
	[SystemId] [uniqueidentifier] NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[StartTimeMs] [bigint] NOT NULL,
	[EndTimeMs] [bigint] NULL,
	[IsLive] [bit] NULL,
	[IsCustom] [bit] NULL,
	[CustomStatus] [nvarchar](510) NULL,
	[LastOperationTimeMs] [bigint] NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_front_history] PRIMARY KEY CLUSTERED 
(
	[FrontHistoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_import_batches]    Script Date: 6/18/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_import_batches](
	[ImportBatchId] [uniqueidentifier] NOT NULL,
	[SourceSystemCode] [nvarchar](64) NOT NULL,
	[ImportStartedAtUtc] [datetime2](3) NOT NULL,
	[ImportCompletedAtUtc] [datetime2](3) NULL,
	[ImportToolName] [nvarchar](510) NULL,
	[ImportToolVersion] [nvarchar](128) NULL,
	[SourceExportName] [nvarchar](1000) NULL,
	[SourceExportSha256] [varbinary](32) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_pb_import_batches] PRIMARY KEY CLUSTERED 
(
	[ImportBatchId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_members]    Script Date: 6/18/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_members](
	[MemberId] [uniqueidentifier] NOT NULL,
	[SystemId] [uniqueidentifier] NOT NULL,
	[DisplayName] [nvarchar](510) NOT NULL,
	[Pronouns] [nvarchar](510) NULL,
	[Description] [nvarchar](max) NULL,
	[Color] [nvarchar](64) NULL,
	[IsArchived] [bit] NULL,
	[ArchivedReason] [nvarchar](max) NULL,
	[IsPrivate] [bit] NULL,
	[PreventTrusted] [bit] NULL,
	[PreventsFrontNotifications] [bit] NULL,
	[ReceiveMessageBoardNotifications] [bit] NULL,
	[SupportsDescriptionMarkdown] [bit] NULL,
	[LastOperationTimeMs] [bigint] NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_members] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_privacy_buckets]    Script Date: 6/18/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_privacy_buckets](
	[PrivacyBucketId] [uniqueidentifier] NOT NULL,
	[SystemId] [uniqueidentifier] NOT NULL,
	[BucketName] [nvarchar](510) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Color] [nvarchar](64) NULL,
	[Icon] [nvarchar](510) NULL,
	[RankText] [nvarchar](128) NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_privacy_buckets] PRIMARY KEY CLUSTERED 
(
	[PrivacyBucketId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_source_id_map]    Script Date: 6/18/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_source_id_map](
	[SourceIdMapId] [uniqueidentifier] NOT NULL,
	[SourceSystemCode] [nvarchar](64) NOT NULL,
	[SourceEntityTypeCode] [nvarchar](128) NOT NULL,
	[SourceId] [nvarchar](256) NOT NULL,
	[PluralBridgeEntityTypeCode] [nvarchar](128) NOT NULL,
	[PluralBridgeId] [uniqueidentifier] NOT NULL,
	[ImportBatchId] [uniqueidentifier] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_pb_source_id_map] PRIMARY KEY CLUSTERED 
(
	[SourceIdMapId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pb_source_id_map_SourceIdentity] UNIQUE NONCLUSTERED 
(
	[SourceSystemCode] ASC,
	[SourceEntityTypeCode] ASC,
	[SourceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_source_records]    Script Date: 6/18/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_source_records](
	[SourceRecordId] [uniqueidentifier] NOT NULL,
	[ImportBatchId] [uniqueidentifier] NOT NULL,
	[SourceSystemCode] [nvarchar](64) NOT NULL,
	[SourceEntityTypeCode] [nvarchar](128) NOT NULL,
	[SourceId] [nvarchar](256) NULL,
	[SourceEndpoint] [nvarchar](2000) NULL,
	[RawJson] [nvarchar](max) NULL,
	[RawJsonSha256] [varbinary](32) NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_pb_source_records] PRIMARY KEY CLUSTERED 
(
	[SourceRecordId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_source_systems]    Script Date: 6/18/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_source_systems](
	[SourceSystemCode] [nvarchar](64) NOT NULL,
	[DisplayName] [nvarchar](510) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ApiBaseUrl] [nvarchar](2000) NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_pb_source_systems] PRIMARY KEY CLUSTERED 
(
	[SourceSystemCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pb_systems]    Script Date: 6/18/2026 3:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pb_systems](
	[SystemId] [uniqueidentifier] NOT NULL,
	[SystemName] [nvarchar](510) NULL,
	[Description] [nvarchar](max) NULL,
	[Color] [nvarchar](64) NULL,
	[AvatarUrl] [nvarchar](2000) NULL,
	[AvatarUuid] [nvarchar](128) NULL,
	[SourceCreatedAtMs] [bigint] NULL,
	[LastOperationTimeMs] [bigint] NULL,
	[ImportedAtUtc] [datetime2](3) NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
 CONSTRAINT [PK_pb_systems] PRIMARY KEY CLUSTERED 
(
	[SystemId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[pb_custom_fields] ADD  CONSTRAINT [DF_pb_custom_fields_CustomFieldId]  DEFAULT (newsequentialid()) FOR [CustomFieldId]
GO
ALTER TABLE [dbo].[pb_custom_fields] ADD  CONSTRAINT [DF_pb_custom_fields_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_custom_fields] ADD  CONSTRAINT [DF_pb_custom_fields_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_front_history] ADD  CONSTRAINT [DF_pb_front_history_FrontHistoryId]  DEFAULT (newsequentialid()) FOR [FrontHistoryId]
GO
ALTER TABLE [dbo].[pb_front_history] ADD  CONSTRAINT [DF_pb_front_history_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_front_history] ADD  CONSTRAINT [DF_pb_front_history_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_import_batches] ADD  CONSTRAINT [DF_pb_import_batches_ImportBatchId]  DEFAULT (newsequentialid()) FOR [ImportBatchId]
GO
ALTER TABLE [dbo].[pb_import_batches] ADD  CONSTRAINT [DF_pb_import_batches_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_members] ADD  CONSTRAINT [DF_pb_members_MemberId]  DEFAULT (newsequentialid()) FOR [MemberId]
GO
ALTER TABLE [dbo].[pb_members] ADD  CONSTRAINT [DF_pb_members_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_members] ADD  CONSTRAINT [DF_pb_members_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_privacy_buckets] ADD  CONSTRAINT [DF_pb_privacy_buckets_PrivacyBucketId]  DEFAULT (newsequentialid()) FOR [PrivacyBucketId]
GO
ALTER TABLE [dbo].[pb_privacy_buckets] ADD  CONSTRAINT [DF_pb_privacy_buckets_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_privacy_buckets] ADD  CONSTRAINT [DF_pb_privacy_buckets_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_source_id_map] ADD  CONSTRAINT [DF_pb_source_id_map_SourceIdMapId]  DEFAULT (newsequentialid()) FOR [SourceIdMapId]
GO
ALTER TABLE [dbo].[pb_source_id_map] ADD  CONSTRAINT [DF_pb_source_id_map_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_source_records] ADD  CONSTRAINT [DF_pb_source_records_SourceRecordId]  DEFAULT (newsequentialid()) FOR [SourceRecordId]
GO
ALTER TABLE [dbo].[pb_source_records] ADD  CONSTRAINT [DF_pb_source_records_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_source_systems] ADD  CONSTRAINT [DF_pb_source_systems_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_systems] ADD  CONSTRAINT [DF_pb_systems_SystemId]  DEFAULT (newsequentialid()) FOR [SystemId]
GO
ALTER TABLE [dbo].[pb_systems] ADD  CONSTRAINT [DF_pb_systems_ImportedAtUtc]  DEFAULT (sysutcdatetime()) FOR [ImportedAtUtc]
GO
ALTER TABLE [dbo].[pb_systems] ADD  CONSTRAINT [DF_pb_systems_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[pb_custom_fields]  WITH CHECK ADD  CONSTRAINT [FK_pb_custom_fields_pb_systems] FOREIGN KEY([SystemId])
REFERENCES [dbo].[pb_systems] ([SystemId])
GO
ALTER TABLE [dbo].[pb_custom_fields] CHECK CONSTRAINT [FK_pb_custom_fields_pb_systems]
GO
ALTER TABLE [dbo].[pb_front_history]  WITH CHECK ADD  CONSTRAINT [FK_pb_front_history_pb_members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[pb_members] ([MemberId])
GO
ALTER TABLE [dbo].[pb_front_history] CHECK CONSTRAINT [FK_pb_front_history_pb_members]
GO
ALTER TABLE [dbo].[pb_front_history]  WITH CHECK ADD  CONSTRAINT [FK_pb_front_history_pb_systems] FOREIGN KEY([SystemId])
REFERENCES [dbo].[pb_systems] ([SystemId])
GO
ALTER TABLE [dbo].[pb_front_history] CHECK CONSTRAINT [FK_pb_front_history_pb_systems]
GO
ALTER TABLE [dbo].[pb_import_batches]  WITH CHECK ADD  CONSTRAINT [FK_pb_import_batches_pb_source_systems] FOREIGN KEY([SourceSystemCode])
REFERENCES [dbo].[pb_source_systems] ([SourceSystemCode])
GO
ALTER TABLE [dbo].[pb_import_batches] CHECK CONSTRAINT [FK_pb_import_batches_pb_source_systems]
GO
ALTER TABLE [dbo].[pb_members]  WITH CHECK ADD  CONSTRAINT [FK_pb_members_pb_systems] FOREIGN KEY([SystemId])
REFERENCES [dbo].[pb_systems] ([SystemId])
GO
ALTER TABLE [dbo].[pb_members] CHECK CONSTRAINT [FK_pb_members_pb_systems]
GO
ALTER TABLE [dbo].[pb_privacy_buckets]  WITH CHECK ADD  CONSTRAINT [FK_pb_privacy_buckets_pb_systems] FOREIGN KEY([SystemId])
REFERENCES [dbo].[pb_systems] ([SystemId])
GO
ALTER TABLE [dbo].[pb_privacy_buckets] CHECK CONSTRAINT [FK_pb_privacy_buckets_pb_systems]
GO
ALTER TABLE [dbo].[pb_source_id_map]  WITH CHECK ADD  CONSTRAINT [FK_pb_source_id_map_pb_import_batches] FOREIGN KEY([ImportBatchId])
REFERENCES [dbo].[pb_import_batches] ([ImportBatchId])
GO
ALTER TABLE [dbo].[pb_source_id_map] CHECK CONSTRAINT [FK_pb_source_id_map_pb_import_batches]
GO
ALTER TABLE [dbo].[pb_source_id_map]  WITH CHECK ADD  CONSTRAINT [FK_pb_source_id_map_pb_source_systems] FOREIGN KEY([SourceSystemCode])
REFERENCES [dbo].[pb_source_systems] ([SourceSystemCode])
GO
ALTER TABLE [dbo].[pb_source_id_map] CHECK CONSTRAINT [FK_pb_source_id_map_pb_source_systems]
GO
ALTER TABLE [dbo].[pb_source_records]  WITH CHECK ADD  CONSTRAINT [FK_pb_source_records_pb_import_batches] FOREIGN KEY([ImportBatchId])
REFERENCES [dbo].[pb_import_batches] ([ImportBatchId])
GO
ALTER TABLE [dbo].[pb_source_records] CHECK CONSTRAINT [FK_pb_source_records_pb_import_batches]
GO
ALTER TABLE [dbo].[pb_source_records]  WITH CHECK ADD  CONSTRAINT [FK_pb_source_records_pb_source_systems] FOREIGN KEY([SourceSystemCode])
REFERENCES [dbo].[pb_source_systems] ([SourceSystemCode])
GO
ALTER TABLE [dbo].[pb_source_records] CHECK CONSTRAINT [FK_pb_source_records_pb_source_systems]
GO
